#fiveDay{
  min-height: 150px;
  width:96vw;
  background: #84A3B2;
  border-radius: 3px;
  margin-top: 2vh;
  display:flex;
  flex-direction: column;
  align-items: center;
}
#fiveDaySections{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.dayDivDetails{
  width:100%;
  height: 20%;
  color:white;
  background: #D69C84;
  cursor: pointer;
}
.dayDiv{
  height: 150px;
  min-width: 140px;
  border-radius: 3px;
  box-shadow: 2px 2px 1px grey;
  width: 100px;;
  margin: 10px;
  min-height: 110px;
  background: #517082;
}
