/* Search Section */
#search{
  background: #D9D0B1;
  height:auto;
  min-height:100px;
  width: 100%;
  color: #002642;
  flex-direction: column;
  flex-wrap: wrap;
}
#mainTitle{
  margin-top: 20px;
  font-size: 3em;
  font-weight: bold;
}
#formWrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#searchForm{
  margin: 0px 10px 0px 10px;
  height: 60px;
  display: flex;
  align-items: center;
}
#buttons{
  height: 60px;
}
#getLocationButton{
  height: 40px;
  width: 40px;
  background: #D69C84;
}
#search label{
  font-size: 1.6em;
  margin-right: 5px;
  font-weight: bold;
  color: #517082;
}
#search input{
  margin-right:15px;
  padding-left: 5px;
  max-width: 40vw;
  font-size: 1.6em;
  border-radius: 3px;
  border: none;
  box-shadow: 2px 2px 2px grey;
  color: #517082;
  height:30px;
  transition: box-shadow .5s;
}
#getWeatherButton{
  height:40px;
  width:150px;
  background: #D69C84;
  margin-right: 15px;
  margin-left: 10px;
  transition: box-shadow .5s;
}
#search input:focus,
#getWeatherButton:focus,
#getLocationButton:focus,
#search input:hover,
#getWeatherButton:hover,
#getLocationButton:hover,
.button:hover{
    box-shadow: 0px 2px 2px white;
}
